[Unit]
Description=AOS Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/hello-world.sh 2
ExecStop=/bin/sh -c "/bin/kill -s TERM $MAINPID; while [ -d /proc/$MAINPID ]; do sleep 1; done"
Restart=no
