[Unit]
Description=AOS Service
After=network.target

[Service]
Type=forking
Restart=always
ExecStart=/opt/aos/aos-runner.sh @RUNNER@ start %i
ExecStop=/opt/aos/aos-runner.sh @RUNNER@ stop %i
PIDFile=/run/aos/runtime/%i/.pid
SuccessExitStatus=SIGKILL
Delegate=yes

[Install]
WantedBy=multi-user.target
